<footer>
    <span>Howler Blog</span>
<div class="container">
  <div class="container text-center">
    <div class="row1">

      <div class="col-lg-12">
        <div class="col-md-4">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">My Account</a></li>
            <li><a href="#">Faqs</a></li>
          </ul>
        </div>
        
        <div class="col-md-4">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-md-4">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">Term of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>          
          </ul>
        </div>

      </div>
      <hr>
    </div>
  </div>
</div>
</footer>