<br>
<br>
<br>
<br>

<form action="/assets/products/" enctype="multipart/form-data" method="post">
  <label>Thumbnail: </label>
  <input 
  type="file" 
  name="file-to-upload">
  
  <input type="submit" value="Upload">
</form>  

<!-- import formsModule for ngModule -->
<form (submit)="addProductSubmit()">

  <!-- <div *ngIf="errors">{{errors['name']['message']}}</div> -->

  <label>Name: </label>
  <input 
  type="text" 
  name="newProduct.name" 
  [(ngModel)]="newProduct.name">

  <label>Description: </label>
  <input 
  type="text" 
  name="newProduct.description" 
  [(ngModel)]="newProduct.description">

  <label>Price: </label>
  <input 
  type="text" 
  name="newProduct.price" 
  [(ngModel)]="newProduct.price">

  <label>Units in stock: </label>
  <input 
  type="text" 
  name="newProduct.unit_in_stock" 
  [(ngModel)]="newProduct.unit_in_stock">

  <button [routerLink]="['/home']"> Cancel </button>
  <input type="submit" name="onSubmitNew" value="Submit" />
</form>