<div class="home">
  <div class="d-flex justify-content-center">
    <h2>Featured Shops</h2>
  </div>
  <div class="top-featured-ad">
    <img class='img-featured-ads' src="/assets/images/products/featured-banner/easter_shop-975x500_(2).jpg" alt="featured_ads" style="display:block; width: 100%;"/>
  </div>

  <!-- second row-->
  <div class="second-row">
    <div class="col1">
      <img class='img-featured-ads' src="/assets/images/products/featured-rows/190205_Storage-600x600.jpg" alt="featured_ads"/>

      <div class="row2-text" id="title">
        <span style="font-weight: bold; font-size: 12px">Contain the Clutter</span><br>
        Get organized in style with gorgeous storage solutions for just $w and up.
      </div>
    </div>

    <div class="col2" style="padding: 5px;"></div>
    
    <div class="col3">
      <img class='img-featured-ads' src="/assets/images/products/featured-rows/190126_Rubbermaid_600x600.jpg" alt="featured_ads"/>

      <div class="row2-text"id="title">
        <span style="font-weight: bold; font-size: 12px;">Keep It Fresh</span><br>
        The best of Glad, Farberware, & more for all your food storage needs.
      </div>
    </div>
  </div>
  <!-- row 3 -->
  <div class="homedecor-row">
      <img class='col4-ads' src="/assets/images/products/featured-rows/homedecor-1950x520-v-bar.jpg"/>
  </div>
  <!-- row 4 -->
  <div class="forth-row">
    <div class="row4-col1">
      <img class='img-featured-ads' src="/assets/images/products/featured-rows/100111_BeautyRoutine_FeatureShop_600x600.jpg" alt="featured_ads"/>

      <div class="row4-text" id="title">
        <span style="font-weight: bold; font-size: 12px">Bring the Salon Home</span><br>
        Power up your beauty routine at home and watch the savings pile up.
      </div>
    </div>

    <div class="col2" style="padding: 5px;"></div>
    
    <div class="row4-col3">
      <img class='img-featured-ads' src="/assets/images/products/featured-rows/190213_Personal_Care_FeaturedShop-600x600.jpg" alt="featured_ads"/>

      <div class="row4-text"id="title">
        <span style="font-weight: bold; font-size: 12px;">Savor the Moment</span><br>
        Our latest bath and body faves to indulge your self-care routine.
      </div>
    </div>
  </div>

  <!-- row 5 -->
  <div class="fifth-row">
    <div class="row5-col1">
      <img class='img-featured-ads' src="/assets/images/products/featured-rows/Kids-600x600.jpg" alt="featured_ads"/>

      <div class="row5-text" id="title">
        <span style="font-weight: bold; font-size: 12px">Block Party</span><br>
        Score up to 70% off retail value on new building block sets.
      </div>
    </div>

    <div class="col2" style="padding: 5px;"></div>
    
    <div class="row5-col3">
      <img class='img-featured-ads' src="/assets/images/products/featured-rows/2019_easter-content-spotlight-girls-rule-v3.jpg" alt="featured_ads"/>

      <div class="row5-text"id="title">
        <span style="font-weight: bold; font-size: 12px;">Girl Power</span><br>
        Enjoy new Jojo Siwa. Hello Kitty, and other favorites starting at $1.
      </div>
    </div>
  </div>
</div>